---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Vete from '../components/Vete.astro';
import Pet from '@components/Pet.astro'
import Team from '@components/Team.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<Hero></Hero>
		<Vete></Vete>
		<Pet></Pet>
		<Team></Team>
	</main>
</Layout>

