

<did class="info">

    <div class="info_text info_part">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia iure eius enim, qui dolorem libero, atque nesciunt doloribus quibusdam ratione velit. Ipsam atque ex eos est, pariatur iste? Quidem, aliquid.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem rem, provident, quia animi deserunt omnis alias accusamus beatae modi consequuntur maxime repudiandae laboriosam labore. Iure porro molestiae fuga recusandae quibusdam?
       
    </div>

    <div class="info_graphic info_part ">

    </div>

</did>




<style>

    .info{
        display: flex;
        height: 100vh;

       
    }

    .info_part{
        width: 100%;
    }


    /* ------ SIDE GRAPHIC ---------*/

    .info_img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info_graphic{
        background-image: url(../../assets/upimg.jpg);
        background-position: center;
     
          /* Full height */
        height: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: solid red;
        overflow: hidden;
    
    }



    /* ------ SIDE TEXT ---------*/
    .info_text{
        color: aliceblue;
        align-self: center;
        position: static;
    }
</style>