

<nav >
    <h1>
        navbar
    </h1>
</nav>



<style>

    nav{
        display: flex;
        width: 100%;
        justify-content: center;
        position: fixed;
        top: 0;
        background-color:  rebeccapurple;
    }

</style>